<link rel="stylesheet" id="fonts_style-css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700" type="text/css" media="all">
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">

<div class="homeBanner cf"  id="form">
  <img alt="" src="/images/maid_scottsdale_cleaning.jpg" class="fullBanner">
  <div class="example-top_section">
    <div class="bannerDetail hidden-sm hidden-xs">
      <div class="bannerConn">
        <h1><%= @seo_page.h1_text.upcase %></h1>
        <p><%= @seo_page.h2_text %></p>
        <ul class="checkMarck cf">
                <li class="width60"><span></span>Easy &amp; secure online booking</li>
                  <li><span></span>Up-front flat rate pricing</li>
                  <li class="width60"><span></span>We provide supplies and equipment</li>
                  <li><span></span>Insured  cleaners</li>
              </ul>
          </div>
      
      
    </div>
    <!-- <div class="example-home_width">
      <a href="/appointments/new"><span>Schedule Lawn Care</span></a>
    </div> -->
    <div class="bannerBg hidden-sm hidden-xs"></div>
  </div>
  <div class="bannerConn hidden-md hidden-lg">
    <center>
      <h1>BOOK A CLEANING IN 60 SECONDS</h1>
      <p>Arizona's Premier Cleaning Service.</p>
      <ul class="checkMarck cf">
            <li class="width60"><span></span>Easy &amp; secure online booking</li>
              <li><span></span>Up-front flat rate pricing</li>
              <li class="width60"><span></span>We provide supplies and equipment</li>
              <li><span></span>Insured  cleaners</li>
          </ul>
          <br/>
      </center>
  </div>
</div>

<!-- <div class="example-second_section">
  <div class="fluid-container">
    <img src="/images/sharktanklogo.png" class="example-img">
    <img src="/images/lifehackerlogo.png" class="example-img">
    <img src="/images/techcrunchlogo.png" class="example-img">
    <img src="/images/food_wine.png" class="example-img hidden-xs">
  </div>
</div> -->

<div class="example-third_section" id="how">
  <div class="fluid-container">
    <h2>How it Works</h2>
    <p class="sub-info">Spend your time doing things you love.  We'll take care of the house!</p>
    <div class="container-fluid">
      <div class= "row">
        <div class= "col-md-4 col-sm-4">
          <div class="holder">
            <div class="img_holder">
              <img src="/images/computer.jpg">
            </div>
            <div class="inner_holder">
              <div class="icon_holder">
                <img src="/images/mouse_icon.png">
              </div>
              <h3>Book Online in 90 Seconds Now</h3>
                Select the date and time of cleaning, click the booking button.           
            </div>
          </div>
        </div>

        <div class= "col-md-4 col-sm-4">
          <div class="holder">
            <div class="img_holder">
              <img src="/images/cleaning.jpg">
            </div>
            <div class="inner_holder">
              <div class="icon_holder">
                <img src="/images/bubble_icon.png">
              </div>
              <h3>Get Clean</h3>
                A certified Cleaner will come to your place.            
            </div>
          </div>
        </div>

        <div class= "col-md-4 col-sm-4">
          <div class="holder">
            <div class="img_holder">
              <img src="/images/relaxing.jpg">
            </div>
            <div class="inner_holder">
              <div class="icon_holder">
                <img src="/images/coffee_icon.png">
              </div>
              <h3>Relax</h3>
                Sit Back and Enjoy.  You now have a sparkling home!           
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="book_button">
      <p>Ready to Book Your Maid Service?</p>
      <center>
        <a class="btn btn-blue" href="#form">Book Now</a>
      </center>
    </div>
  </div>
</div>

<div class="third-boxes">
  <div class="container-fluid">
    
  </div>
  


</div>


<div id="benefits">
  <div class="benefits_description">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <center>
            <h1>WHY CHOOSE SCOTTSDALE MAIDS?</h1>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="benefits_6_boxes">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="holder">
            <div class="six_inner_holder">
              <div class="bb_icon_holder"><img src="/images/shield.jpg"></div>
              <h3>Your security and privacy is our highest priority.</h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="holder">
            <div class="six_inner_holder">
              <div class="bb_icon_holder"><img src="/images/thumbs.jpg"></div>
              <h3>Flat rate pricing with no contracts or hidden fees.</h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="holder">
            <div class="six_inner_holder">
              <div class="bb_icon_holder"><img src="/images/clock.jpg"></div>
              <h3>It’s convenient and saves you a lot time in the end.</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="holder">
            <div class="six_inner_holder">
              <div class="bb_icon_holder"><img src="/images/leaf.jpg"></div>
              <h3>Environmentally friendly cleaning products.</h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="holder">
            <div class="six_inner_holder">
              <div class="bb_icon_holder"><img src="/images/card.jpg"></div>
              <h3>No cash hassles. Secure online payment instead.</h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="holder">
            <div class="six_inner_holder">
              <div class="bb_icon_holder"><img src="/images/check.jpg"></div>
              <h3>200% Money Back Satisfaction Guaranteed.</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="button-minor">
  <center>
    <a class="btn btn-blue" href="#form">Book Now</a>
  </center>
</div>

<div class="testimonials">
  <div class="fluid-container">
    <h2>Customer Testimonials</h2>

    <p>I needed maid service last minute as my family decided they were going to stop by for the weekend. My place was a mess! They were able to arrange two cleaners for me in less than 24 hours and they did such a good job that my parents were in shock that I kept my place so clean. Let's keep the secret between us!
      <div class="customerName">Charles A., Phoenix, AZ
        <span><img src="/images/5star.png"></span>
      </div>
    </p>

  </div>
</div>
<div class="container-fluid">
  <div class="logo-stuff">
    <div class="wrapper">
      <ul>
        <li><img src="/images/yelp.png"></li>
        <li><img src="/images/foursquare.png"></li>
        <li><img src="/images/google-plus.png"></li>
        <li><img src="/images/thumbtack.png"></li>
      </ul>
    </div>

  </div>
</div>

<div class="article_section">
  <div class="container-fluid" style="padding-bottom: 20px;">
    <div>
      <h3><%= @seo_page.article_header %></h3>
      <div class="article-image"><%= image_tag @seo_page.article_image %></div>
      <div >
      <%= @seo_page.paragraph_text.html_safe %>
      </div>
      
    </div>

  </div>
</div>

<div class="example-eighth_section">
  <div class="container-fluid">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <iframe src="https://www.google.es/maps/d/u/5/embed?mid=zyh4BfEiqNvo.kecjdFHsUByA" width="350" height="350"></iframe>
    </div>

    
    <div class="col-md-4 example-serve">
      <h2>Where We Serve</h2>
      <p style="margin: 0 10px 10px;" class="map-text">Phoenix, Mesa, Tempe, the Phoenix Metro Area if you will.  Simply put, if you live within an hour's drive of Phoenix, we're there! </p>
      
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
<div class="example-footer">
  <div class="container-fluid">
    <div class="short-border">
      <h4>We're Home Cleaning for the 21st Century.  Get your Home Cleaned with only a few clicks.</h4>
      <p style="color:#888">We started MaidFox to solve a glaring hole.  That in the days of Uber you still have to get 12 quotes in order to find a good maid in your neighborhood.  It's a mess and one you shouldn't have to worry about.  Use MaidFox and get your House Cleaned with only a few clicks.</p>
    </div>
  </div>
</div>